<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Conan Loot Manager!{% endblock %}</title>
    {% block stylesheets %}
        {#<link rel="stylesheet"#}
              {#href="{{ asset('css/materialize.css') }}">#}
        {#<link rel="stylesheet"#}
              {#href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block menu %}
{% endblock %}

{% block body %}
{% endblock %}

{% for flash_message in app.session.flashBag.get('info') %}
    <div class="flash-info">
        {{ flash_message }}
    </div>
{% endfor %}

{% block javascripts %}
    {% if app.environment == 'dev' %}
        <script type="text/javascript" src="http://localhost:8090/assets/vendor.js"></script>
        <script type="text/javascript" src="http://localhost:8090/assets/main.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('assets/vendor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
    {% endif %}
{% endblock %}

</body>
</html>

