<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Conan Loot Manager!{% endblock %}</title>
    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/jquery.js')  }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    {% block menu %}
        {{ include('::navbar.html.twig') }}
    {% endblock %}

    <div class="container">

        {% block flash %}
            {% if app.session.flashBag.has('info') %}
                    {% for info in app.session.flashBag.get('info') %}
                        <div>
                        <script>
                            Materialize.toast({{ info }}, 4000);
                        </script>
                        </div>
                    {% endfor %}
            {% endif %}
        {% endblock %}

        {% block body %}
        {% endblock %}
    </div>
</body>
</html>

