<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Conan Loot Manager!{% endblock %}</title>
    {% block stylesheets %}
        {#<link rel="stylesheet"#}
        {#href="{{ asset('css/materialize.css') }}">#}
        {#<link rel="stylesheet"#}
        {#href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">#}
    {% endblock %}
    {% block javascripts %}
        {% if app.environment == 'dev' %}
            <script type="text/javascript" src="http://localhost:8090/assets/vendor.js"></script>
            <script type="text/javascript" src="http://localhost:8090/assets/main.js"></script>
        {% else %}
            <script type="text/javascript" src="{{ asset('assets/vendor.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
        {% endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="">

    {% block menu %}
        {{ include('::navbar.html.twig') }}
    {% endblock %}

    <div class="container">

        {% block flash %}
            {% if app.session.flashBag.has('info') %}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {% for info in app.session.flashBag.get('info') %}
                        <div>{{ info }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}
        {% endblock %}
    </div>


</body>
</html>

