{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <h2>Roster:</h2>
                    {{ form_widget(form.roster) }}
                    <ul id="big" class="row js-list-roster"
                        ondragenter="return dragEnter(event)"
                        ondragover="return dragOver(event)"
                        ondrop="return dragdrop(event)">
                    </ul>
                </div>
            </div>
        </div>


        <div class="col s12">
            <div class="card-panel">
                <h2>Player-Pool:</h2>
                <ul class="row">
                    {% for character in characters %}
                        <li class="col s4 m2 l1 js-list-account" data-is-in-roster="false" data-character-id="{{ character.id }}">
                            <div class="multi-panel card-panel z-depth-1" draggable="true">
                                {{ character.getCharName }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {{ form_row(form.save, {'attr': {'class': 'btn btn-default waves-light waves-effect', 'onclick': "Materialize.toast('Starting Raid',4000)"}}) }}
    {{ form_end(form) }}
{% endblock %}
