
<h5 class="left-align">Derzeitige Listenpunkte: </h5>

<div class="card-panel">
    <table class="bordered highlight responsive-table">
        <thead>
        <tr>
            <th>Tränen</th>
            <th>Waffen</th>
            <th>Accessoires</th>
            <th>Urnen</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.getTear }}</td>
                <td>{{ user.getWeapon }}</td>
                <td>{{ user.getAcc }}</td>
                <td>{{ user.getUrn }}</td>
                <td>{{ user.getItem }}</td>
            </tr>
        </tbody>
    </table>
</div>