{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h3>UserList:</h3>
        <div class="well-lg col s6 push-s3">
            <table class="table-striped table-responsive">
                <tr>
                    <td>Name</td>
                    <td>Tränen</td>
                    <td>Waffen</td>
                    <td>Accessoires</td>
                    <td>Urnen</td>
                    <td>Items</td>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getAccountName }}</a></td>
                        <td>{{ user.getTear }}</td>
                        <td>{{ user.getWeapon }}</td>
                        <td>{{ user.getAcc }}</td>
                        <td>{{ user.getUrn }}</td>
                        <td>{{ user.getItem }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

